token = "xxxxxxx_xxxxxxxxxxxxxx"
cloud_id = "xxxxxxxxxxxxxxx"
folder_id = "xxxxxxxxxxxxxxxx"
zone = "xxxxxxxxxxx"
image_id = "xxxxxxxxxxxxxxx"
subnet_id = "xxxxxxxxxxxxxxxxxxxxxxxx"
private_key_path = "~/.ssh/yc"
